body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.container {
    width: 100%;
    height: 100%;
}

/*Sidebar*/
.main-sidebar {
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
    background-color: #333;
}

.sidebar-nav {
    padding: 20px;
}

.toggle-sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}

.toggle-sidebar.opened {
    color: black;
}

.sidebar-nav-list {
    margin-top: 40px;
    list-style: none;
    padding: 0;
}

.sidebar-nav-list-item {
    margin-bottom: 10px;
}

.sidebar-nav-list-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar-nav-list-item a:hover {
    color: #007bff;
}

/**/

/*header*/
.logo {
    text-decoration: none;
    color: white;
}

.main-header,
.main-footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/**/

/*Content*/
.content {
    flex: 1;
    padding: 20px;
    padding-left: 200px;
    padding-right: calc(200px + 20px);
    box-sizing: border-box;
}

.content-wrapper {
    overflow: auto;
}

.float-left {
    float: left;
}

/* Общий стиль для таблиц */
table {
    border-collapse: collapse;
    width: 200px;
}

table th {
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #dddddd;
    font-weight: bold; /* Жирный шрифт для заголовков */
    text-align: center; /* Выравнивание по центру */
}

table td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: center; /* Выравнивание по центру */
}

/* Стиль для контейнера таблицы и графика */
.table-graph-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравнивание по центру по вертикали */
    border: 1px solid #dddddd; /* Обводка */
    padding: 10px; /* Поля вокруг контейнера */
    margin-bottom: 20px; /* Отступ снизу */
}

.table-graph-wrapper img {
    max-width: 100%;
    height: auto;
}

img {
    display: block;
}
/**/


/*Footer*/
