{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Basic</title>{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <aside class="main-sidebar">
        <nav class="sidebar-nav">
            <button class="toggle-sidebar" onclick="toggleSidebar()">☰</button>
            <ul class="sidebar-nav-list">
                <li class="sidebar-nav-list-item">
                    <a href="/">🏠 Главная страница</a>
                </li>
                <li class="sidebar-nav-list-item">
                    <a href="{% url 'demand' %}">📈 Востребованность</a>
                </li>
                <li class="sidebar-nav-list-item">
                    <a href="{% url 'geography' %}">🌍 География</a>
                </li>
                <li class="sidebar-nav-list-item">
                    <a href="{% url 'skills' %}">💼 Навыки</a>
                </li>
                <li class="sidebar-nav-list-item">
                    <a href="{% url 'latest_vacancies' %}">📰 Последние вакансии</a>
                </li>
            </ul>
        </nav>
    </aside>

    <div class="container">
        <header class="main-header">
            <h1><a class="logo" href="/">C++ Разработчик - Аналитика</a></h1>
        </header>

        <main class="content">
            {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        </main>

        <footer class="main-footer">
            <p>Юрченко Станислав Вячеславович</p>
            <p>АТ-01</p>
        </footer>
    </div>

    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>
