<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Local Library</title>{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <header class="main-header">
        <a class="logo" href="#">
            <p>C++ Разработчик - Аналитика</p>
        </a>
    </header>

    <aside class="main-sidebar">
        <nav class="sidebar-nav">
          <ul class="sidebar-nav-list">
            <li class="sidebar-nav-list-item"><a href="#">Service 1</a></li>
            <li class="sidebar-nav-list-item"><a href="#">Service 2</a></li>
            <li class="sidebar-nav-list-item"><a href="#">Service 3</a></li>
          </ul>
        </nav>
    </aside>

    {% block content %}<!-- default content text (typically empty) -->{% endblock %}

    <footer class="main-footer">
        <p>Юрченко Станислав Вячеславович</p>
        <p>АТ-01</p>
    </footer>
</body>
</html>