{% extends "base_generic.html" %}
{% block title %}<title>Главная страница</title>{% endblock %}
{% block content %}
    <h1>C++ Разработчик</h1>

    <p>
        Добро пожаловать на главную страницу профессии C++ разработчика! C++ – мощный язык программирования,
        широко применяемый в различных областях, от системного программирования до создания приложений с графическим
        интерфейсом и встраиваемых систем.
    </p>

    <p>
        Ваша роль в качестве C++ разработчика включает в себя создание эффективного и надежного программного
        обеспечения, оптимизацию производительности, разработку новых функций и поддержку существующего кода.
        Вам придется работать с высокоуровневыми концепциями, такими как объектно-ориентированное программирование,
        а также ближе к железу, управлять памятью и оптимизировать код для достижения высокой производительности.
    </p>
{% endblock %}